# Lecture - WK13 Codealong

Jon Messier\
2\23\23

![png]("Data\ERD.png")

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [5]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "Chinook"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [6]:
engine = create_engine(connection)

In [7]:
q= """
Show Tables
"""
pd.read_sql(q, engine)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track

In [8]:
q = '''SELECT 
    customerid, Total
FROM
    Invoice
ORDER BY Total DESC
LIMIT 1'''
pd.read_sql(q,engine)

   customerid  Total
0           6  25.86